*.js linguist-detectable=true
*.js linguist-language=JavaScript

*.min.js linguist-detectable=true
*.min.js linguist-language=JavaScript

*.easing.min.js linguist-detectable=true
*.easing.min.js linguist-language=JavaScript
